@font-face {
	font-family: 'icomoon-pir';
	src:url('fonts/icomoon-pir.eot');
	src:url('fonts/icomoon-pir.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon-pir.woff') format('woff'),
		url('fonts/icomoon-pir.ttf') format('truetype'),
		url('fonts/icomoon-pir.svg#icomoon-pir') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon-pir';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


a, a:hover {
	[class^="icon-"], [class*=" icon-"] {
		text-decoration: none !important; 
	} 
}


.icon-facebook:before {
	content: "\e000";
}
.icon-arrow-down-alt1:before {
	content: "\e022";
}
.icon-facebook-2:before {
	content: "\e002";
}
.icon-facebook-3:before {
	content: "\e004";
}
.icon-twitter:before {
	content: "\e006";
}
.icon-twitter-2:before {
	content: "\e008";
}
.icon-twitter-3:before {
	content: "\e009";
}
.icon-film:before {
	content: "\e00f";
}
.icon-comments:before {
	content: "\e010";
}
.icon-user:before {
	content: "\e011";
}
.icon-star:before {
	content: "\e012";
}
.icon-heart:before {
	content: "\e013";
}
.icon-arrow-right-thin:before {
	content: "\e604";
}
.icon-heart-2:before {
	content: "\e014";
}
.icon-arrow-up-thin:before {
	content: "\e605";
}
.icon-paperclip:before {
	content: "\e01f";
}
.icon-download:before {
	content: "\e021";
}
.icon-arrow-left-thin:before {
	content: "\e607";
}
.icon-arrow-right-fat:before {
	content: "\e613";
}
.icon-mobile:before {
	content: "\e01e";
}
.icon-earth:before {
	content: "\e020";
}
.icon-arrow-up-fat:before {
	content: "\e614";
}
.icon-arrow-down-fat:before {
	content: "\e615";
}
.icon-zoom-in:before {
	content: "\e023";
}
.icon-double-carrot-left:before {
	content: "\e616";
}
.icon-blocked:before {
	content: "\e02d";
}
.icon-double-carrot-right:before {
	content: "\e617";
}
.icon-cancel:before {
	content: "\e02e";
}
.icon-double-carrot-up:before {
	content: "\e618";
}
.icon-cancel-2:before {
	content: "\e02f";
}
.icon-double-carrot-down:before {
	content: "\e619";
}
.icon-check:before {
	content: "\e030";
}
.icon-lesser-than:before {
	content: "\e61a";
}
.icon-minus-fat:before {
	content: "\e031";
}
.icon-greater-than:before {
	content: "\e61b";
}
.icon-plus-2:before {
	content: "\e032";
}
.icon-triangle-right:before {
	content: "\e61c";
}
.icon-fire:before {
	content: "\e03c";
}
.icon-triangle-left:before {
	content: "\e61d";
}
.icon-lab:before {
	content: "\e03d";
}
.icon-music-2:before {
	content: "\e03e";
}
.icon-file:before {
	content: "\e61e";
}
.icon-mobile-2:before {
	content: "\e03f";
}
.icon-file-alt:before {
	content: "\e61f";
}
.icon-gift-2:before {
	content: "\e040";
}
.icon-file-fill:before {
	content: "\e620";
}
.icon-pin-alt:before {
	content: "\e041";
}
.icon-arrow-right-line:before {
	content: "\e609";
}
.icon-arrow-down-line:before {
	content: "\e60a";
}
.icon-camera-2:before {
	content: "\e04b";
}
.icon-comments-2:before {
	content: "\e04c";
}
.icon-arrow-left-line:before {
	content: "\e60b";
}
.icon-pir-logo-element:before {
	content: "\e60c";
}
.icon-accessibility:before {
	content: "\e04d";
}
.icon-download-alt:before {
	content: "\e60d";
}
.icon-star-2:before {
	content: "\e04e";
}
.icon-paperclip-2:before {
	content: "\e04f";
}
.icon-upload:before {
	content: "\e60e";
}
.icon-map-pin:before {
	content: "\e60f";
}
.icon-google-plus:before {
	content: "\e050";
}
.icon-arrow-right-alt1:before {
	content: "\e05a";
}
.icon-carrot-left:before {
	content: "\e610";
}
.icon-arrow-up-alt1:before {
	content: "\e05b";
}
.icon-carrot-right:before {
	content: "\e611";
}
.icon-microphone:before {
	content: "\e05c";
}
.icon-arrow-left-fat:before {
	content: "\e612";
}
.icon-headphones:before {
	content: "\e05d";
}
.icon-file-fill-alt:before {
	content: "\e621";
}
.icon-arrow-up-line:before {
	content: "\e608";
}
.icon-calendar:before {
	content: "\e05e";
}
.icon-instagram:before {
	content: "\e622";
}
.icon-calendar-2:before {
	content: "\e05f";
}
.icon-linkedin:before {
	content: "\e00c";
}
.icon-linkedin-2:before {
	content: "\e00d";
}
.icon-link:before {
	content: "\e00e";
}
.icon-mail:before {
	content: "\e015";
}
.icon-mail-2:before {
	content: "\e016";
}
.icon-phone:before {
	content: "\e017";
}
.icon-home:before {
	content: "\e018";
}
.icon-address-book:before {
	content: "\e019";
}
.icon-file-pdf:before {
	content: "\e01a";
}
.icon-arrow-up:before {
	content: "\e01b";
}
.icon-arrow-right:before {
	content: "\e01c";
}
.icon-arrow-down:before {
	content: "\e01d";
}
.icon-arrow-left:before {
	content: "\e024";
}
.icon-wordpress:before {
	content: "\e029";
}
.icon-search:before {
	content: "\e02a";
}
.icon-rocket:before {
	content: "\e02b";
}
.icon-coffee:before {
	content: "\e02c";
}
.icon-wrench:before {
	content: "\e033";
}
.icon-zoom-out:before {
	content: "\e034";
}
.icon-cog:before {
	content: "\e035";
}
.icon-plus:before {
	content: "\e036";
}
.icon-minus:before {
	content: "\e037";
}
.icon-help:before {
	content: "\e038";
}
.icon-droplet:before {
	content: "\e039";
}
.icon-play:before {
	content: "\e03a";
}
.icon-camera:before {
	content: "\e03b";
}
.icon-music:before {
	content: "\e042";
}
.icon-printer:before {
	content: "\e043";
}
.icon-user-2:before {
	content: "\e044";
}
.icon-key:before {
	content: "\e045";
}
.icon-locked:before {
	content: "\e046";
}
.icon-gift:before {
	content: "\e047";
}
.icon-location:before {
	content: "\e048";
}
.icon-paypal:before {
	content: "\e049";
}
.icon-home-2:before {
	content: "\e052";
}
.icon-pencil:before {
	content: "\e053";
}
.icon-pencil-2:before {
	content: "\e054";
}
.icon-broadcast:before {
	content: "\e055";
}
.icon-clock:before {
	content: "\e056";
}
.icon-google-plus-2:before {
	content: "\e057";
}
.icon-minus-alt:before {
	content: "\e059";
}
.icon-x-circle:before {
	content: "\e060";
}
.icon-check-alt:before {
	content: "\e061";
}
.icon-checkmark-2:before {
	content: "\e062";
}
.icon-x:before {
	content: "\e063";
}
.icon-move-alt2:before {
	content: "\e064";
}
.icon-arrow-left-alt1:before {
	content: "\e065";
}
.icon-youtube:before {
	content: "\e623";
}
.icon-plus-alt:before {
	content: "\e058";
}
.icon-tumblr:before {
	content: "\e600";
}
.icon-tumblr2:before {
	content: "\e601";
}
.icon-pinterest:before {
	content: "\e602";
}
.icon-lightning:before {
	content: "\e603";
}
.icon-hearts:before {
	content: "\e606";
}
.icon-heart2:before {
	content: "\e624";
}
.icon-lightning2:before {
	content: "\e625";
}
.icon-lightbulb:before {
	content: "\e626";
}
.icon-cog2:before {
	content: "\e627";
}
.icon-user2:before {
	content: "\e62a";
}
.icon-user3:before {
	content: "\e62b";
}
.icon-instagram2:before {
	content: "\e628";
}
.icon-pinterest2:before {
	content: "\e629";
}
.icon-vine:before {
	content: "\e62c";
}
.icon-clipboard:before {
	content: "\e62d";
}
.icon-newspaper:before {
	content: "\e62e";
}
.icon-bullhorn:before {
	content: "\e62f";
}
.icon-news:before {
	content: "\e630";
}
.icon-info:before {
	content: "\e631";
}
.icon-info2:before {
	content: "\e632";
}
.icon-question:before {
	content: "\e633";
}
.icon-accessibility2:before {
	content: "\e634";
}
.icon-info3:before {
	content: "\e635";
}
.icon-bubbles:before {
	content: "\e636";
}
.icon-bubbles2:before {
	content: "\e637";
}
.icon-bubbles3:before {
	content: "\e638";
}
.icon-opennewwindow:before {
	content: "\e639";
}
.icon-newwindow:before {
	content: "\e63a";
}
.icon-closewindow:before {
	content: "\e63b";
}
.icon-new-tab:before {
	content: "\e63c";
}
.icon-stats:before {
	content: "\e63d";
}
.icon-bars:before {
	content: "\e63e";
}
.icon-arrow-up-right:before {
	content: "\e63f";
}
.icon-arrow-up-right2:before {
	content: "\e640";
}
.icon-uniF794:before {
	content: "\e641";
}
.icon-new-window:before {
	content: "\e642";
}
.icon-question-bubble:before {
	content: "\e643";
}
.icon-life-preserver:before {
	content: "\e644";
}
.icon-upright:before {
	content: "\e645";
}
.icon-undo:before {
	content: "\e646";
}
.icon-redo:before {
	content: "\e647";
}
.icon-fastleft:before {
	content: "\e648";
}
.icon-fastright:before {
	content: "\e649";
}
.icon-fastup:before {
	content: "\e64a";
}
.icon-fastdown:before {
	content: "\e64b";
}
.icon-quoteup:before {
	content: "\e64c";
}
.icon-quotedown:before {
	content: "\e64d";
}
.icon-diamond:before {
	content: "\e64e";
}
.icon-users:before {
	content: "\e650";
}
.icon-user22:before {
	content: "\e64f";
}
.icon-users2:before {
	content: "\e651";
}
.icon-handdrag:before {
	content: "\e652";
}
.icon-image:before {
	content: "\e653";
}
.icon-image2:before {
	content: "\e654";
}
.icon-images:before {
	content: "\e655";
}
.icon-music2:before {
	content: "\e656";
}
.icon-headphones2:before {
	content: "\e657";
}
.icon-film2:before {
	content: "\e658";
}
.icon-ticket:before {
	content: "\e659";
}
.icon-credit:before {
	content: "\e65a";
}
.icon-leaf:before {
	content: "\e65b";
}
.icon-food:before {
	content: "\e65c";
}
.icon-rocket2:before {
	content: "\e65d";
}
.icon-meter:before {
	content: "\e65e";
}
.icon-meter2:before {
	content: "\e65f";
}
.icon-dashboard:before {
	content: "\e660";
}
.icon-menu:before {
	content: "\e661";
}
