/*==================================================
 * WIDGET STYLINGS
 * ===============================================*/

#text-2 h3 {
	letter-spacing: -.05em;
}

#text-6 {
	text-align: right;
	position: relative;
	top: 9px;
}